
XI/Semester2/Learn_GSAP/scroll-trigger/node_modules/

XI/Semester2/toko-komputer/node_modules/

XI/Semester2/Sequelize/ukl-spp/node_modules/

XI/Semester2/react1/node_modules/

XI/Semester2/API_CRUD/backend/node_modules/

XI/Semester2/ukl_laundry_node/backend/node_modules/

XI/Semester2/Vue/MODUL4/modul4/node_modules/
