* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: var(--clr-white);
  }
  
  img,picture {
    max-width: 100%;
  }
  
  :root {
    --clr-white:rgba(255, 255, 255, 0.603);
    --clr-black:rgb(0, 0, 0);
    --clr-cream:rgb(219, 219, 219);
    --clr-glass: 0, 0%, 83%, 0.365;
    --clr-glass-light:0, 0%, 83%, 0.345;
    --clr-glass-dark:0,0%, 89%, 0.110;
    --clr-glass-font:0,0%, 89%, 0.210;
    --clr-glass-blank:0, 0%, 0%,0.062;
  }