/* Amburadul css by panca */
nav a{
    color: #fff !important;
    text-decoration: none;
    margin: 0 0.8vw;
    /* make navbar centered */
    display: inline-block;
    vertical-align: middle;
    line-height: 50px;
    font-size: 1vw;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 0 1px 1px rgba(0,0,0,.2);
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .3s ease-in-out !important;
}
nav{
    border-radius: 0 !important;
    color: #212529;
    background-color: #212529 !important;
}
.nav-item{
    background-color: #212529 !important;
}
nav a:hover{
    color: #FF5E14 !important;    
    -webkit-transform: translateY(-3px);
    -moz-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -o-transform: translateY(-3px);
    transform: translateY(-3px);
    transition: all .3s;
}
.navbar-brand{
    margin-left: 50px !important;
    margin-top: 7px !important;
    padding-right: 10px;
    border-right: #FF5E14 solid 3px;
    border-radius: 50%;
}
.navbar-brand:hover{
    color: gold !important;
}
.logout:hover{
    color: red !important;
}