<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <title>Learn Vue</title>
  </head>
  <body>
    <div id="app">
      <ol>
          <li v-for="i in kelas">{{i}}</li>          
      </ol>
      <li v-for="(i, index) in kelas" :key="index">index ke-{{index}}: {{i}}</li>
    </div>
    <script>
      let app = new Vue({
        el: "#app",
        data: {
          kelas: ["Panca", "Belajar", "Vue"],
        },
      });
    </script>
  </body>
</html>