.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 4rem;
    background:linear-gradient(45deg,rgba(0, 0, 0, 0.575),rgba(0, 0, 0, 0.308)),url(../assets/bg.jpg);
    background-size: cover;
    background-position: center;
}
.main > * {
    text-align: center;
    max-width: 120ch;
}
.main-header {
    text-transform: uppercase;
    font-size: 15px;
    color: var(--clr-white);
}
.main-header span {
    display: block;
    font-size: clamp(1rem,14vw + 1rem,8rem);
    color: hsla(0, 0%, 100%, 0.787);
}
.main-status {
    text-transform: uppercase;
    font-size: clamp(.3rem,.4vw + .4rem,2rem);
    color: hsl(var(--clr-glass-font));
}

.main-btn {
    margin-block: 1rem;
}
.main-btn a {
    color: var(--clr-white);
    text-transform: uppercase;
    text-decoration: none;
}