* {
  box-sizing: border-box;
}

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}
.container-bawah{
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  text-align: right;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(https://i.ytimg.com/vi/B3rPtTzX0dc/maxresdefault.jpg);
  background-size: cover;  
  color: white;
  text-align: center;
}

.top-wrapper h1 {
  font-size: 45px;  
  letter-spacing: 5px;
  margin-bottom: 10px;
  opacity: 0.8;
}

.top-wrapper p {
  opacity: 0.7;
  margin-bottom: 3px;
}

.btn-wrapper {
  text-align: center;
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

.daftar {
  background-color: #8d8d8d;
}

.RPL {
  background-color: rgba(185, 30, 30, 0.9);
  margin-right: 10px;
}

.TKJ {
  background-color: #696969;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(185, 30, 30, 0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}

.logo {
  margin-top: 20px;
  width: 120px;
  height: 25px;
  object-fit: cover;
  object-position: 100% 30%; 
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.upInfo img{
  height: 20%;
  width: 30%;
  border-radius: 50%;
}

.upInfo-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

.lesson {
  float: left;
  width: 25%;
}

.upInfo-icon {
  position: relative;
}

.upInfo-icon p {
  position: absolute;
  top: 44%;
  width: 100%;
  color: white;
}

.txt-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 15px;
  color: #b3aeb5;
}

.heading h3 {
  font-weight: normal;
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

.message {
  padding: 15px 40px;
  background-color: #b32323;
  cursor: pointer;
  box-shadow: 0 7px #971d1d;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

footer img {
  width: 125px;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
}

.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}
